* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #011422;
}

h5{
    color: red;
}

.logo{
    color: antiquewhite;
    font-size: 42px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 6%;
    background: rgb(198, 18, 18);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 17px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 0.3s;
}

.navbar a:hover{
    color: #000000;
    font-size: 19px;
}

.nav-right{
    margin-left: 480px;
}
