{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'sign-up.css' %}">
    </head>

    <body>
        {% csrf_token %}
        <section>
            <nav>
                <ul>
                    <li>KIRAFLIX</li>
                </ul>
            </nav>
        </section>

        {% for message in messages %}
            <h6>{{message}}</h6>
        {% endfor %}

        <section class="signupSection">
                <h1>Sign up</h1>
                <div class="signupForm">
                    <form method="POST" action="signup">
                        {% csrf_token %}
                        
                        <div class="inputBox">
                            <input class="inputField" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="inputBox">
                            <input class="inputField" type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="inputBox">
                            <input class="inputField" type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="inputBox">
                            <input class="inputField" type="password" name="password2" placeholder="Repeat Password" required>
                        </div>

                        <button class="submitButton" type="submit">Sign up</button>
                    </form>

                    <div class="signinLink">
                        <p>Already have an account ? <a href="/signin"> Sign in</a></p>
                    </div>

                </div>
        </section>
    </body>

</html>