{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign in</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'test.css' %}">
    </head>

    <body>
        {% csrf_token %}
        <section>
            <nav>
                <ul>
                    <li>KIRAFLIX</li>
                </ul>
            </nav>
        </section>

        <section class="loginSection">
                <h1>Sign in</h1>
                <div class="loginForm">
                    <form method="POST" action="login">
                        {% csrf_token %}
                        
                        {% for message in messages %}
                            <h6>{{message}}</h6>
                        {% endfor %}
                        
                        <div class="inputBox">
                            <input class="inputField" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="inputBox">
                            <input class="inputField" type="password" name="password" placeholder="Password" required>
                        </div>

                        <div class="forgot">
                            <section>
                                <input type="checkbox" id="check">
                                <label class="checkLabel" for="check">Remember me</label>
                            </section>
                            <section>
                                <a href="#">Forgot Password ?</a>
                            </section>
                        </div>

                        <button class="submitButton" type="submit">Sign in</button>
                    </form>

                    <div class="signupLink">
                        <p>Don't have an account ? <a href="#"> Sign up</a></p>
                    </div>
                </div>
        </section>
    </body>

</html>